{
    "useTabs": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml", "*.md"],
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
